#Header{
    display: block;   
}
#Options{
    display: flex;
    justify-content: space-between;
    margin-inline: 20%;
}
#AboutMe, #Projects, #Honors{
    border-radius: 10%;
    max-width: 30%;
    
}