#WelBar{
    display: block;
    margin: 15px;
}
#WelOne{
    background-color: transparent;
    min-height: 15vw;
    margin-bottom: 25vw;
}

#WelText{
    font-size: 12vw;
}@keyframes cursor{
    50%{border-color: transparent;}
}
#WelTwo{
    display: flex;
    margin: 10vw;
    
}
#WelNote{
    display: block;
    max-width: 30%;
    min-width: 30%;
    justify-content: center;
    align-items: center;
}
#pic{
    height: auto;
    width: 70%;
    opacity: 80%;
    align-self: center;
}