#NavBar{
    display: flex;
    background-color: black;
}
#NavHead{}

#Option{
    margin-left: auto;
}

button{
    background-color: transparent;
    color: #69dbfa;
    font-family: 'Courier New', monospace;
    border-radius: 5PX;
    margin: 10px;
    border-color: transparent;    
    &:hover{
        background-color: #05363c;
        background-: 50% ;
    } 
}