#Header{
    display: block;
    margin-top: 10%;   
}
#TngsToFill{
    
    margin-inline: 30%;
}
#Name{
    
    display: block;
    text-align: left;
    
}
#Email{
    display: block;
    text-align: left;
   
}
#Subject{
    display: block;
    text-align: left;
    
}
#Message{
    display: block;
    text-align: left;
    
}
input[type="text"]{
    
    
    border-color: transparent;
    color: antiquewhite;
    font: 1em sans-serif;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    max-height: 100px;
    width: 100%;
    /* border-radius: 5px; */
    /* align-self: center; */
}
textarea[name="messageInput"] {
    width: 100%;
    max-width: 100%;
    border-bottom-color: white;
    background-color: transparent;
    color: antiquewhite;
    
}
h2{
    margin-bottom: 0%;
    
}
#SubmitButton{
    margin-top: 1%;
    color: #69dbfa;
    border-color: transparent;    
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    &:hover{
        background-color: #05363c;
        background-: 50% ;
    } 
}
